.property-container {
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
  .menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
    padding: 3px;
    &:hover {
      color: #3280fe;
    }
    &:active {
      opacity: 0.8;
    }
  }
  .row-one {
    transform: translateY(-8px);
    width: fit-content;
  }
  .row-two {
    font-size: 20px;
    font-weight: 500;
    color: rgb(78, 78, 78);
  }
  .row-three {
    font-size: 13px;
    margin: 3px 0;
  }
  .row-four {
    font-size: 13px;
  }
  .row-five {
    margin-top: 20px;
  }
}

.ant-dropdown-menu-title-content {
  padding: 2px 5px;
}
