.portfolio-container {
  .top-section {
    margin-top: 10px;
    .page-title-p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 15px;
      color: rgb(73, 73, 73);
    }
    .page-desc-p {
      font-size: 15px;
      color: rgb(155, 155, 155);
      max-width: 600px;
    }
  }

  .portfolio-main {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    max-width: 800px;
    .ant-tabs-tab {
      .anticon-plus,
      .anticon-edit {
        margin-right: 3px;
      }
    }

    .add-property {
      display: flex;
      justify-content: center;
      .info {
        width: 100%;
        max-width: 700px;
        .ant-form-item-label > label {
          font-size: 15px;
          color: #494949;
        }
      }
    }

    .no-property {
      text-align: center;
      margin: 200px 0;
      font-size: 19px;
      @media (max-width: 890px) {
        margin: 100px 0 200px 0;
      }
    }
  }
}
